@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Admin page</h1>
            <a href="~/Brand/Index">Brands</a>
            <a href="~/Category/Index">Categories</a>
            <a href="~/Perfume/Index">Perfumes</a>
            <a href="#">Orders</a>
            <a href="~/User/Index">Users</a>
        </div>
    </div>
</div>