@model IEnumerable<BusinessLayer.ViewModels.CategoryViewModel>
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light p-3">
                    <li class="breadcrumb-item"><a href="~/Admin/Index">Admin Page</a></li>
                    <li class="breadcrumb-item active">Categories</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="~/Category/CategoryForm" class="btn btn-primary">Add New</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Id</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.Name</td>
                            <td>@category.Id</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="Id" value="@category.Id" />
                                    <input class="btn btn-warning" type="submit" value="Edit" formaction="~/Category/CategoryForm" />
                                </form>
                            </td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="Id" value="@category.Id" />
                                    <input class="btn btn-danger" type="submit" value="Delete" formaction="~/Category/DeleteCategory" />
                                </form>

                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>